.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(182, 130, 238);
  font-size: 20px;
  font-family: cursive;
  gap: 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.App:hover {
  text-shadow: 2px 2px 4px rgba(182, 130, 238);
  transform: translateY(2px);
}
